body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-style: italic;
}
prices {
  color: lavender;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: black;
}

#food-image {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
#menu-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
h1 {
  font-size: xx-large;
  color: orange;
  text-shadow: orange;
  font-weight: bolder;
}

h2 {
  font-size: x-large;
  color: orange;
  text-shadow: orange;
  font-weight: bolder;
  text-decoration: wavy underline;
}
h3 {
  font-size: x-large;
  color: orange;
  text-shadow: orange;
  font-weight: bolder;
  text-decoration: wavy underline;
}
h4 {
  font-size: large;
  color: orange;
  text-shadow: orange;
  font-weight: bolder;
}
